* {
    box-sizing: border-box;
}

.item1 {
    grid-area: header;
    color: yellow;
    font-size: 10px;
}
.item2 {
    grid-area: menu;
    height: 600px;

}
.item3 {
    grid-area: main;
    width: 90%;
    height:600px ;
}
.item4 {
    grid-area: right;
    height: 600px;

}
.item5 {grid-area: footer;}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'menu main main main main right'
    'footer footer footer footer footer footer';
    gap: 1px;
    background-color: rgb(153, 149, 149);
    padding: 1px;
}

.grid-container > div {
    background-color: rgba(250, 247, 250, 0.8);
    text-align: center;
    padding: 50px 0;
    font-size: 20px;
    box-sizing: border-box;

}

.img {
    width: 150px;
    border-radius: 9px;
    border: solid 1px ;
}