* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

h1 {
    text-align: center;
    font-family: fantasy;
    font-weight: 300;
}

.caixa-principal {
    width: 90%;
    max-width: 450px;
    background: #00000098 ;
    border-radius: 20px;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 1px solid #000000;
    box-shadow: 0 0 28px #000000;
}

.caixa-principal input {
    width: 230px;
    border: 1px solid #ffffff;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    background: #252525a1;
    color: #ffffff;
    margin-left: -10%;
    margin-top: 20px;
}

.caixa-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.btn {
    background: #ffffffad;
    padding: 5px;
    border: 1px solid #302f2f;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 30px;
    cursor: pointer;
}

.img-buscar {
    height: 25px;
    width: 28px;
}

.caixa-3 {
    margin: 40px ;
}

.caixa-3 hr {
    margin: 10px;  
    width: 100%;
}

.caixa-4 {
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.cidade {
    font-size: 30px;
    font-weight: 300;
    margin: 15px;
    background: linear-gradient(190deg, #0769c47d 1%, #ffffff 99%);
    color: #000000;
    border-radius: 50px;
    padding: 9px;
    text-align: center;
}

.temp {
    margin-top: 30px;
    margin-left: 3%;
}

.umidade {
    margin-top: 30px;
    margin-left: 3%;
}

@media (min-width: 250px) {

    .caixa-principal {
        padding: 15px 
    }

    .caixa-2 {
        padding: 30px;
        font-size: 9px;
    }
    
    .input-cidade {
        width: 250px;
        font-size: 12px;
        font-weight: 400;
    }

    .cidade {
        font-size: 18px;
    }

    .btn {
        margin: 5px;
        margin-top: 10%;
        margin-right: -7%;
    }
}