* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10vh 75vh 15vh;
  grid-template-areas: 
  'h h h h'
  's m m m'
  'f f f f';
}

@media (max-width: 600px)  {
  .container {
    display: block;
  }  
  
  #foto {
    width: 15px;
    border-radius: 50px;
  }
  
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Cambria, Cochin;
}

a:hover {
    background: #f78b8b;
}

/* Header */

.header {
    display: flex;
    background: #333;
    color: #fcfdfb;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    grid-area: h;
    border-bottom: 2px solid rgb(71, 255, 240);
    
}

#menu {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: .4rem;
}

#menu a {
    display: block;
    padding: .4rem;
}

#btn-menu {
    display: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #333;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden; /* para fazer o menu ficar invisível*/
        overflow-y: hidden; /*para colocar um scroll quando o menu for maior que a tela*/
      }
      #nav.active #menu {
        width: 150px;
        height: calc(45vh - 70px);
        border-radius: 5px;
        box-shadow: rgb(71, 255, 240) -8px 8px 8px;
        visibility: visible;
        overflow-y: auto;
      }
      #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        
      }
      #btn-menu {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        color: #fcfdfb;
        cursor: pointer;
        gap: 0.5rem;
      }
      #hamburger {
        border-top: 2px solid;
        width: 20px;
      }
      #hamburger::after,
      #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
      }
      #nav.active #hamburger {
        border-top-color: transparent;
      }
      #nav.active #hamburger::before {
        transform: rotate(135deg);
      }
      #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
      }
}

/* Sidebar */

.sidebar {
  background-color: #333;
  grid-area: s;
  color: #fcfdfb;
  text-align: center;
  padding: 25px auto;
  justify-content: center;
  padding-left: 25px;
  padding-top: 45px;
  padding-bottom: 25px;
}

.contatos {
  height: 90%;
  width: 90%;
  border: 1px solid #444;
  background: #444;
  border-radius: 10px;
  padding: 10px;
  box-shadow: -3px 8px 8px 8px #8905f5;
}

#foto {
  width: 60%;
  margin: 10px;
  border-radius: 10px;
  align-items: center;
}

h4 {
  padding: 2px;
}

p {
  padding: 2px;
  border-bottom: 1px solid #f0ebeb;
}


/* Main */

.main {
  background: #333;
  grid-area: m;
  text-align: center;
  align-items: center;
  padding: 8px;
}

.room {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25vh 20vh 20vh;
  grid-template-areas: 
  's s'
  'm c'
  'v p';
  max-width: 800px;
  gap: 10px;
}

.slaide {
  
  background: #8905f5;
  grid-area: s;
}

.jg-memoria {
  
  background: #f0ebeb;
  grid-area: m;
}

.jg-cobrinha {
  
  background: #f78b8b;
  grid-area: c;
}

.jg-velha {
  grid-area:v;
  background: #4b77f1;
}

.pokedex {
  grid-area: p;
  background: #9df78b;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* Footer */

.footer {
  background-color: #f75353;
  grid-area: f;

}
