* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

a {
    color: rgb(253, 248, 248);
    text-decoration: none;
    font-family: Cambria, Cochin;
}

a:hover {
    background: #b9dbba;
}

.header {
    display: flex;
    background: #333;
    color: #b9dbba;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 75px;
}

#menu {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: .4rem;
}

#menu a {
    display: block;
    padding: .4rem;
}

#btn-menu {
    display: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    #btn-menu{
        display: block;
    }

    #menu {
        display: none;
    }
}
