* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, 
    rgb(252, 102, 3) 0%, 
    rgb(0, 0, 0) 60%);
    color: aliceblue;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: large;
}

h1 {
    text-align: center;
    margin: 50px;
    border: 2px solid green;
}

#peso-carne {
    height: 50px;
    border: 2px solid yellow;
    font-size: larger;
    width: 90px;
}

#tipo-carne {
    margin: 40px;
    height: 50px;
    font-size: larger;
}

#tipo-tempero {
    width: 200px;
    height: 50px;
    font-size: larger;
}

#btn {
    margin: 25px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: black;
    font-size: larger;
    background-color: rgb(187, 199, 202);
    box-shadow: 3px 3px 3px;
}

#version {
    margin-top: 140px;
    margin-left: 20px;
}