* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {

    align-items: center;
    justify-content: center;
    background-image: url(./img/pexels-bob-clark-21490.jpg);
    background-position: center;
    background-size: cover;

    color: aliceblue;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: large;
}

h1 {
    text-align: center;
    margin: 50px;
    padding: 20px;
    border: 2px solid rgb(4, 253, 4);
    border-radius: 15px;
    font-size: 20px;
}

#peso-carne {
    height: 40px;
    border: 1px solid rgb(1, 119, 30);
    border-radius: 5px;
    padding: 8px;
    font-size: larger;
    width: 100px;
    background: #adadad44;
    color: antiquewhite;

}

#tipo-carne {
    margin: 40px;
    height: 50px;
    border: 1px solid rgb(1, 63, 16);
    border-radius: 10px;
    font-size: larger;
    background: #fffcfc9c;
    color: rgb(0, 0, 0);
    margin-right: -20px;
}

#btn {
    margin: 25px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: black;
    font-size: larger;
    background-color: rgb(178, 230, 243);
    box-shadow: 0 0 58px #fcd706;
}

#btn-comp {
    font-size: larger;
    padding: 10px;
    margin: 30px;
    border-radius: 5px;
    color: rgb(13, 14, 13);
    background: rgb(235, 102, 102);
}

#resultado {
    padding: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 253, 253);
    font-size: 28px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#version {
    margin-top: 20px;
    margin-left: -200px;
    color: rgb(10, 0, 0);
    font-weight: 300;
}