*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  
  background-color: black;

}

.header {
  width: 100vw;
  height: 75px;
  display: flex;
  background: rgba(15, 5, 5, 0.637);
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 25%;

}

