* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 450px;
    max-height: 1000px;
    background: rgb(90,34,195);
    background: linear-gradient(10deg, rgba(90,34,195,1) 23%, rgba(228,138,223,1) 100%);
    margin: 20px;

}

body h1 {
    margin: 10px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(138, 43,  226);
}

body ul {
    width: 380px;
    margin-left: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

body li input {
    width: 80px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 3px;

}

.input-quantidade-item {
    margin-left: 60px;
}

#add-produto input{
    width: 80px;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

button {
    padding: 10px;
    margin: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background: #f16de6;
    box-shadow:  0 0 18px #fdfdfd;
    color: rgb(8, 247, 235);
    cursor: pointer;
}

h3 {
    margin: 15px;
    color: aqua;
}