* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(195, 34, 34);
    margin: 10px;

}

body h1 {
    margin: 10px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(246, 244, 248);
}

body ul {
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
}

body li input {
    width: 80px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 8px;
    
}

.input-quantidade-item {
    margin-left: 1px;
}

#add-produto input{
    width: 80px;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 8px;
}


#add-produto h4 {
    color: #fdfdfd;
    margin: 10px;
}

button {
    padding: 10px;
    margin: 10px;
    border: 2px solid #050505;
    border-radius: 10px;
    background: #fcf6fb;
    color: rgb(8, 8, 8);
    cursor: pointer;
}

h3 {
    margin: 15px;
    color: rgb(0, 5, 5);
}

@media (max-width: 500px) {
    body {
        width: 350px;
        height: 1000px;
    }

    body ul {
        font-size: 15px;
    }

    body li input {
        margin: 5px;
    }
}