* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(90,34,195);
    background: linear-gradient(10deg, rgba(90,34,195,1) 23%, rgba(228,138,223,1) 100%);
}

body h1 {
    margin: 25px;
    text-align: center;
    color: rgb(138, 43, 226);
}

body ul {
    width: 300px;
    margin-left: 35px;
    font-size: 20px;
    color: rgb(240, 235, 243);
}

body li {
    margin: 5px;  
}

.input-valor{
    margin-left: 205px;
    width: 100px;
    height: 36px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
}

#produto {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 25px;
    width: 140px;
    border-radius: 10px;
    padding: 5px;
    font-size: large;
    border: 2px solid black;
}

#preco {
    width: 80px;
    height: 35px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    border: 2px solid black;
}

body button {
    margin: 10px;
    background: rgb(190, 141, 240);
    padding: 15px;
    border: 2px solid #444;
    border-radius: 25px;
    box-shadow: 0 0 18px rgb(92, 191, 248);
    font-size: large;
    font-weight: 300;
}

body h3 {
    margin: 25px;
    color: rgb(249, 249, 250);
    font-size: 30px;
}

