* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  width: 100%;
  height: 100px;
  background-color: rgb(5, 5, 5);
  display: flex;
  color: azure;
}


/* HamburgerMenu.css*/
.btn-menu {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(10, 10, 10);
  color: azure;
  justify-items: right;
  cursor: pointer;
}

.menu {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  background-color: rgb(5, 5, 5);
  display: flex;
}

@media (max-width: 767px) {
  .menu {
    display: flex;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: rgb(3, 3, 3);
  }
}
