* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {/*o root é para colocar de forma global 
    para ser aproveitado em outros lugadres*/
    --gradient: linear-gradient(
        45deg,
        rgb(9 114 252),
        rgb(67 231 173),
        rgb(226 212 92)
    )
}

body {

    --top-color: rgb(4, 0, 255);
    --bottom-color: rgb(7, 7, 7)40%;
    --my-gradient: linear-gradient(
        200deg,
        var(--top-color),
        var(--bottom-color)
    );
    height: 100vh;
    background: var(--my-gradient);

    display: grid;
    place-content: center;

    
    
}

h1 {
    background-image: var(--gradient);/*importar a variavel do root*/

    background-clip: text;/*colocar a cor da variavel no texto*/
    -webkit-background-clip: text;
    color: transparent;
}


section{/*aki vou mudar a cor da bordar*/
    padding:2rem;
    border: 4px solid wheat;
    border-image: var(--gradient) 1;

}

section::after,
section:before {
    content: '';
    height: 4px;
    width: 100%;
    display: block;

    background-image:var(--gradient);
    border-radius: 4rem 4rem;

}