* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.item1 {grid-area: header;}
.item2 {grid-area: menu;}
.item3 {grid-area: main;}
.item4 {grid-area: footer;}

.grid-conteiner {
    display: grid;
    color: #fff;
    grid-template-areas: 
    'header header header header'
    'menu main main main'
    'menu main main main'
    'footer footer footer footer';
    gap: 1px;
    background-color: rgb(55, 250, 6);
}

.grid-conteiner > div {
    
    background-color: rgb(15, 1, 1);
    text-align: center;
    padding: 2px 0;
    font-size: 20px;
    align-items: center;
}

.item1 {
    width: 100%;
    height: 150px;
    max-height: 250px;
}

.item2 {
    
    font: normal 2px Caramelo ;
}

.h {
    margin: 50px;
}

.paragrafo {

    margin: 20px auto;
    width: 250px;
}

.item3 {
    padding: 5px;
    justify-content: space-between;
}

.des {
    width: 100%;
    padding: 20px;
}

.item3 h3 {
    padding: 15px;
    align-items: center;
    box-sizing: border-box;
}

.link {
    margin: 10px;
    cursor: pointer;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    --color: rgb(41, 248, 14);
    color: var(--color);
    transition: all .2s ease-in;
    border-radius: 5px;
    border: solid 1px rgb(46, 248, 6);
    background-color: rgb(1, 1, 17);
    text-decoration: none;
}

.link:hover {
    background: var(--color);
    box-shadow: 0 0 5px var(--color), 0 0 25px var(--color), 0 0 50px var(--color), 0 0 150px var(--color);
    color: #fff;
    border-radius: 5px;
    border: solid 1px rgb(7, 250, 48);
}

.img1 {
    width: 350PX;
    border: solid rgb(7, 250, 7);
    cursor: pointer;
    border-radius: 15px;
}

.b {
    text-decoration: none;
    margin: 10px auto;
    width: 40px;
    height: 20px;
    background: rgb(48, 5, 240);
    border: solid 1px rgb(113, 227, 247);
    border-radius: 5px;
    --color: #1af7ec;
    color: var(--color);
    font-size: 1rem;
    transition: all .2s ease-in;
    cursor: pointer;
}

.b:hover {
    background: var(--color);
    box-shadow: 0 0 5px var(--color), 0 0 25px var(--color), 0 0 50px var(--color), 0 0 150px var(--color);/*sombras*/
    color: #fff;
    border: solid 1px rgb(79, 241, 228);
    border-radius: 5px;
}

.item4 h3 {
    width: 100%;

    background-color: black;
}
.h3 {
    width: 100%;
}